include README.rst
include pgcontents/alembic.ini.template
include pgcontents/alembic/script.py.mako
include pgcontents/alembic/versions/*
include LICENSE
include requirements*.txt

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
